{% extends 'base.html' %}
 
{% block content %}

  <div class="container">
    <ul class="list-group list-group-flush">
      {% for post in posts %}    
          <li class="list-group-item"><h1>{{post.title}} </h1> </li>
          <li class="list-group-item"><p>{{post.body}} </p></li>
          <li class="list-group-item">Posted On: <i>{{post.date_posted}} </i></li>
          <li class="list-group-item">Authoor: <strong>{{post.author}}</strong> </li>
      {% endfor %} 
    </ul>
  </div>
{% endblock content %} 